/* Complete container  */

.buttonContainer {
    position: fixed;
    display: flex;

    bottom: 0;
    right: 0;
    height: 110px;
    width: 110px;

    background-color: #f1f0e8;

    border-radius: 100px;

    justify-content: center;
    align-items: center;

    transition: all 0.3s linear ;
}


/* Inner circle */

.customButton {
    height: 80px;
    width: 80px;

    background-color: #579BB1;
    background-image: url("../public/plus.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;

    border-radius: 100px;
    border: 0;

    transition: all 0.3s ease-in-out ;
}

.customButton:hover {
    background-image: url("../public/plus_hover.svg");
    scale: 0.9;
}


/* Pressed */
.buttonContainer.rotated {
    background: none;
}
.buttonContainer.rotated:hover {
    background: none;
    scale: 0.9;
}

.customButton.rotated {
    background-image: url("../public/up_arrow.svg");
    transform: rotate(360deg);
}

.rotated:hover {
    background-image: url("../public/up_arrow_hover.svg");
    scale: 0.9;
}


@media (width < 700px) {
    .buttonContainer {
        bottom: 2rem;
        right: 1rem;
        width: 80px;
        height: 80px;
    }

    .customButton {
        width: 60px;
        height: 60px;
    }
}

@media (width < 500px) {
    .buttonContainer {
        right: 1rem;
    }
}
