/* Complete container  */

.buttonContainer {
    position: fixed;
    bottom: 10%;
    right: 10%;
    height: 140px;
    width: 140px;
    background-color: #f1f0e8;
    /* background-color: red; */
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* Inner circle */

.customButton {
    background-color: #579BB1;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-image: url("../public/plus.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    transition: all 0.3s ease-in-out ;
}

.customButton:hover {
    background-image: url("../public/plus_hover.svg");
    scale: 0.9;
}


/* Pressed */

.rotated {
    transform: rotate(360deg);
    background-image: url("../public/up_arrow.svg");
}

.rotated:hover {
    background-image: url("../public/up_arrow_hover.svg");
    scale: 0.9;
}


@media (max-width: 600px) {
    .buttonContainer {
        bottom: 5%;
        right: 5%;
        /* background-color: red; */
        width: 120px;
        height: 120px;
    }

    .customButton {
        /* background-color: transparent; */
        width: 90px;
        height: 90px;
    }
}
