/* Custom Checkmark and text */
.customCheckbox {
    position: relative;
    height: 50%;
    width: 10%;
    display: grid;
    grid-column: 0;
    transition: all 0.3s ease-in-out;
    /* background-color: black; */
}


/* Checkmark box Integate */
.checkboxCheckmark, .checkboxInput{
    position: absolute;
    /* position: relative; */
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 30%;
    border: 2px solid white;
    background-image: url("../public/check_button_uncheck.svg");
    transition: background-image 0.3s ease-in-out, background-color 0.3s ease-in;
    align-self: center;
    transform-origin: center;
    /* justify-self: center; */
}

/* Default Checkmark */
.checkboxInput {
    opacity: 0;
}


/* checkbox mark as checked */
.checkboxInput:checked + .checkboxCheckmark {
    background-color: #EEE0C9;
    border: 0; /* remove border */
    background-image: url("../public/check_button.svg");
    background-size: cover;
    transition: all 0.15s ;
}
