

/* Delete button */

.deleteButton {
    display: grid;
    grid-column: -2;
    /* position: absolute; */

    height: 20px;
    width: 20px;
    margin: 5px;
    cursor: pointer;

    transition: all 0.3s ease-in-out;

    /* justify-self: center; */
}

/* svg editing  */
.iconGroup {
    transform: translate(7%, 7%);
}

.iconChild {
    fill: var(--delete-button-color);

    transition: all 0.2s ease-in-out;
}


/* On Hover */

.deleteButton:hover {
    transform: scale(1.4);
}
.deleteButton:hover .iconChild {
    fill: #E04662;
    transform-origin: center;
}
