/* 
.taskListContent {
    background-color: red;
}
*/


/* Date Information */
.date {
    display: flex;
    padding: .1rem;
    justify-content: flex-end;
}

/* Child Date Information */
.date > * > * {
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: 1rem;
}

.date .dateInformation {
    position: absolute;
    display: none;
}

.date .dateNumer {
    box-shadow: 0 0 0 2px #eff4f0;
    font-size: medium;
    margin: .5rem;
    margin-top: .8rem;
}

/* Date Start */
.date > :nth-child(1) .dateInformation {
    left: 4rem;
    top: .4rem;

    background-color: #c8ccca;

    padding: .1;
    height: 1.2rem;
}

/* Date End */
.date > :nth-child(2) .dateInformation {
    left: 11.2rem;
    top: .4rem;

    background-color: #c8ccca;

    padding: .1;
    height: 1.2rem;
}

/* other text */

/*
.contentText {

}
*/


/* Action Button */
.actionButton {
    position: relative;
    white-space: nowrap;
    display: flex;

    justify-content: space-between;

    width: 100%;
}

/* Edit Button */
.actionButtonEdit{
    text-align: center;
    width: fit-content;
}

/* Remove button */
.actionButtonRemove {
    text-align: center;
    width: fit-content;
}



/* Hover */
.actionButtonRemove:hover {
    transform-origin: center;
    cursor: pointer;
    font-size: 1.2rem;
    color: #E04662;
}

.actionButtonEdit:hover {
    transform-origin: center;
    cursor: pointer;
    font-size: 1.2rem;
    color: #58d477;
}




/* Media Queries */
