/* 
.taskListContent {
    background-color: red;
}
*/


/* Date Section */
.date {
    display: flex;
    /* padding: .1rem; */
    justify-content: flex-end;
    /* background-color: red; */
    /* margin: 0.5rem; */
}

/* Child Date Information */
/* .date > * > * {
} */

.dateObjects {
    margin-left: 2rem;

    /* background-color: blue; */
    /*
    opacity: .5; */
}

/* Start and End */
.date .dateInformation {
    position: absolute;
    background-color: #c8ccca;

    transform: translate(-.8rem, -.15rem);
    height: 1.2rem;
    padding-right: .1rem;
    /* background-color: red; */
    /* display: none; */
}

/* Number of Start or End */
.date .dateNumer {
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: 1rem;
    box-shadow: 0 0 0 2px #eff4f0;
    font-size: medium;
    /* margin: .5rem; */
    margin-top: .8rem;
}


/* other text */

/*
.contentText {

}
*/


/* Action Button */
.actionButton {
    position: relative;
    white-space: nowrap;
    display: flex;

    justify-content: space-between;

    width: 100%;
}

/* Edit Button */
.actionButtonEdit{
    text-align: center;
    width: fit-content;
}

/* Remove button */
.actionButtonRemove {
    text-align: center;
    width: fit-content;
}



/* Hover */
.actionButtonRemove:hover {
    transform-origin: center;
    cursor: pointer;
    font-size: 1.2rem;
    color: #E04662;
}

.actionButtonEdit:hover {
    transform-origin: center;
    cursor: pointer;
    font-size: 1.2rem;
    color: #58d477;
}




/* Media Queries */
