/* 
*/
.taskListContent {
    /* background-color: red; */
    padding-top: 1.4rem;
}


/* Date Section */
.date {
    display: flex;
    justify-content: flex-end;
}

.dateObjects {
    margin-left: 2rem;
}

/* Start and End */
.date .dateInformation {
    position: absolute;
    background-color: #c8ccca;

    font-size: 1rem;

    transform: translate(-.8rem, -.15rem);
    height: 1.2rem;
    padding-right: .1rem;
}

/* Number of Start or End */
.date .dateNumer {
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: 1rem;
    box-shadow: 0 0 0 2px #eff4f0;
    font-size: medium;
    margin-top: .8rem;
}


/* other text */

.contentText {
    margin-bottom: .5rem;
}


/* Action Button */
.actionButton {
    position: relative;
    white-space: nowrap;
    display: flex;

    justify-content: space-between;

    width: 100%;
}

/* Edit Button */
.actionButtonEdit{
    text-align: center;
    width: fit-content;
    
}

/* Remove button */
.actionButtonRemove {
    text-align: center;
    width: fit-content;
}



/* Hover */
.actionButtonRemove:hover {
    transform-origin: center;
    cursor: pointer;
    font-size: 1.2rem;
    color: #E04662;
}

.actionButtonEdit:hover {
    transform-origin: center;
    cursor: pointer;
    font-size: 1.2rem;
    color: #58d477;
}




/* Media Queries */
