
/* all box */
.taskList {
    --start-ring: 7.62vw;
    position: relative;

    width: 90%;
    margin-bottom: 1.5rem;

    text-align: left;
    font-size: 18px;
    font-family: sans-serif;

    border-radius: 20px;

    transition: all 200ms;
    /* background: rgba( 230, 219, 207, 0.65 ); */
    /* box-shadow: 0 0px 32px 0 rgba( 31, 38, 135, 0.37 ); */
}

/* Rings of the notebook */
.taskList::after {
    position: absolute;
    content: '';

    width: .4rem;
    height: .8rem;
    top: -0.4rem;
    left: 1rem;

    color: white;
    background-color: currentColor;
    border-radius: 3px;
    box-shadow: 
        calc(var(--start-ring) * 1) 0 0 0 currentColor,
        calc(var(--start-ring) * 2) 0 0 0 currentColor,
        calc(var(--start-ring) * 3) 0 0 0 currentColor,
        calc(var(--start-ring) * 4) 0 0 0 currentColor,
        calc(var(--start-ring) * 5) 0 0 0 currentColor,
        calc(var(--start-ring) * 6) 0 0 0 currentColor,
        calc(var(--start-ring) * 7) 0 0 0 currentColor,
        calc(var(--start-ring) * 8) 0 0 0 currentColor,
        calc(var(--start-ring) * 9) 0 0 0 currentColor,
        calc(var(--start-ring) * 10) 0 0 0 currentColor;
}

/* Representation of Sheets */
.taskList::before {
    position: absolute;
    content: '';

    width: 98%;
    height: 90%;
    bottom: -.5rem;

    background: rgba( 230, 219, 207, 0.65 );
    border-radius: 10px;

    margin: 2px ;

    left: 50%;
    transform: translateX(-50%);
}

/* Open and close */
.taskList:not(.taskList[open]).taskList::before {
    filter: opacity(1);
}

.taskList[open]::before {
    filter: opacity(0);
}



/* Tittle */
.taskListSummary {
    /* Display */
    display: flex;
    align-items: center;

    /* text */
    font-size: 18px;
    color: #000000;

    /* visual properties */
    background-color: #ADC4CE;
    /* background: rgba( 230, 219, 207, 0.65 ); */
    box-shadow: 0 0px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding-block-start: 1rem;

    /* pointer */
    cursor: pointer;


    /* box model */
    padding-block: .6rem;
    padding-inline: 1.5rem;
    border-radius: 20px 20px 0px 0px ;

    transition: all 200ms;

}



/* Arrow */
.taskListSummary::before{
    position: absolute;
    content: '';

    right: .3rem;

    border: 11px solid;
    border-color: transparent transparent transparent #ffC4CE;
    

    transition: all 200ms;
}

/* Content */
.taskListContent {
    /* text */
    font-size: 18px;
    font-family: 'Indie Flower', cursive;
    color: #000000;

    /* visual properties */
    background: rgba( 230, 219, 207, 0.65 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;

    margin: 2px ;
    margin-top: 0;

    /* box model */
    padding-block: .5rem;
    padding-inline: 1.5rem;
    border-radius: 0px 0px 20px 20px ;
}


/* Custom Checkbox */
.taskListSummary > [role="button"]:first-child {
    /* box model */
    position: absolute;

    height: 20px;
    width: 20px;
    left: .6rem;
}


/* Text */
.taskListSummary > div {
    margin-left: 1rem;
    width: 90%;
}


/* Hovers */
.taskList:not(.taskList[open]).taskList:hover {
    animation: idleHover 1.5s ease-in-out 200ms infinite;
    padding-bottom: .8rem;
}

.taskList[open] > .taskListSummary:hover {
    transform: scale(1.03);
    padding-bottom: 1rem;
}


/* Animations */
.taskList[open] > .taskListSummary::before {
    transform: rotate(90deg) translate(.2rem, .3rem);
}

@keyframes idleHover {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}


/* media query */

@media (min-width: 500px) {
    .taskList {
        --start-ring: 2.45rem;
    }
}
