.container {
    display: grid;
    height: 100vh;
    width: 100%;
    background-color: #F1F0E8;
    justify-content: center;
    overflow: hidden;
    /* display: "grid",
    height: "100vh",
    width: "100%",
    justifyContent:"center",
    backgroundColor: "#F1F0E8",
    overflow: "scroll" */
}

.customBackground {
    overflow: hidden;
    overflow-y: auto;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.customBackground::-webkit-scrollbar {
    display: none;
}

/* Background */
.customBackground {
    /* Display */
    background-color: #96B6C5;

    /* box model */
    width: 30rem;
    height: 95%;
    margin-top: 1rem;
    border-radius: .5rem;
}

/* Header */
.customBackground h1 {
    font-family: 'Indie Flower', cursive;
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 400;
    font-size: 40px;
    letter-spacing: .2rem;
}

/* Mobile Size */
@media (max-width: 500px) {
    .customBackground {
        width: 95%;
        height: 90%;
    }
}
